* {
    box-sizing: border-box;
    margin: 0 auto;
}
html{
  scroll-behavior: smooth;
}

body{
  background: url(../imgs/menu/background.jpg) no-repeat fixed;
  background-size: cover;
}

#navigation-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    border-radius: 1em;
    padding: 0;
    margin-left: 0em;
    margin-bottom: .4em;
    width: 30vw;
    height: 300px;
    background-color: #03030392;
    text-align: center;
    transition: box-shadow 2s;
  }

  #navigation-links-wrapper:hover {
    -webkit-box-shadow: 0px 0px 10px 3px #367EB6; 
    box-shadow: 0px 0px 10px 3px #367EB6;
  }
  
  #navigation-links-wrapper li a { 
    font-size: x-large;
    border-radius: .7em;
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }

  #navigation-links-wrapper li a:hover {
    color: rgba(59, 187, 194, 0.782);
  }


  #header-nav {
    margin: 0 auto;
    width: 100%;
    background: url(../imgs/index/header-background/main-background.jpg);             
    background-repeat:   no-repeat;
    background-position: center center;
    background-size: cover;
  }
  #main-header {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      margin: 0 auto;
      display: inline-block;
      margin-top: 1%;

  }

  #header-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 80vw;
    height: 80vh;
    text-align: center;
    margin-bottom: 2vh;
  }

  #main-content-container{
    width: 1400px;
    margin-top: 4vh;
  }

.pizza-section {
  background-size: 150%;
  }
 .pizza-info{
   background: url(../imgs/index/backgrounds/food-pattern.png);
   background-color: rgba(200, 213, 192, 0.245);
   border-radius: 1rem;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 2vh;
  }


  .blank-text {
    color: #367EB6;
    flex-direction: column;
    display: inline-flex;
    /* position: relative; */
    font-size: 1.3rem;
    margin-bottom: 1rem;
    width: 40%;
    line-height: 2em;
    text-shadow: 2px 0px 2px #000000;
  }

 #pizza-info-header{
   margin-top: 1%;
   width: 100vw;
   color: white;
   text-transform: uppercase;
   align-self: flex-start;
   margin-bottom: 2vh;
   text-align: center;
 }

 .pizza-info-wrapper{
  justify-content: center;
 }


 .constructor-basket-ingredient {
  margin: 1% 3% 1% 3%;
   border-bottom: .2em solid #dc143c;
   /* border-left: none;
   border-top: none;
   border-right: none; */
   padding: 5px;
 }

.amount-plus-btn, .amount-minus-btn {
  max-width: 50px;
  cursor: pointer;
  height: auto;
  transition: transform 10ms ease-in-out;
}

.amount-plus-btn:hover, .amount-minus-btn:hover {
  filter: brightness(75%);
  
}

.amount-plus-btn:active, .amount-minus-btn:active {
  transform: scale(1.1);
}

.amount-Changer-wrapper {
  display: flex;
  max-width: 200px;
  flex-direction: row;
  margin-right: 10%;
}
 .pizza-info-additional {
   display: flex;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
   justify-content: center;
   background: url(../imgs/index/backgrounds/food-pattern.png);
   align-items: flex-start;
   flex-wrap: wrap;
   flex-direction: row;
   margin-bottom: 2vh;
   background-color: rgba(200, 213, 192, 0.245);
   border-radius: 1rem;
 }

 .ingredients-header {
  width: 100vw;
  margin-top: 1%;
  color: #000;
  text-transform: uppercase;
  align-self: flex-start;
  margin-bottom: 4vh;
  text-align: center;
  font-size: large;
 }

 #choice-shop-header {
  text-transform: uppercase;
  color: #FFFFFF;
  align-self: flex-start;
  margin-bottom: 4vh;
  text-align: center;
 }


 .ingredients-list{
  width: 100%;
  list-style: none;
  color: #367EB6;
  line-height: 2em;
  counter-reset: my-awesome-counter;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-shadow: 2px 0px 2px #000000;
 }

 .ingredients-list li {
  counter-increment: my-awesome-counter;
  display: flex;
  width: 40%;
  font-size: 1.3rem;
  margin-bottom: 1rem;
 }

 .ingredients-list li::before {
  content: "0" counter(my-awesome-counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  line-height: 1;
}

.menu-positions-wrapper{
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  flex-wrap: wrap;
}

.menu-positions-wrapper div {
  padding: 1em;
  width: 40%;
  margin-bottom: 4vh;
  background-color: rgba(0, 0, 0, 0.279);
}

 #buy-bucket {
  position: fixed;
  border: 0;
  padding: 0;
  height: 10vh;
  width: 10vh;
  transition: 300ms;
  top: .5rem;
  right: 0;
  text-orientation:upright;
  writing-mode: vertical-lr;
  background: rgb(250, 44, 44);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

#header-nav .forBuy {
 background: rgba(220, 20, 60, 0.462);
}

#shopping-bag{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  text-align: left;
  flex-direction: column;
  right: 0vh;
  top: .5rem;
  border: .5vh solid #000;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
  border-right: 0;
  min-width: 30vw;
  min-height: 30vh;
  z-index: 999;
  display: none;
  background-color: #fff;
}

#buttons-bag-wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 3%;
}

#shopping-bag-closeBtn{
  position: absolute;
  top: 0;
  right: 1%;
  font-size: 1.5rem;
  cursor: pointer;
}

#make-order, #submit-form-btn {
  background-color: #4CAF50;
  cursor: pointer;
  border: none;
  height: 100%;
  width: fit-content;
  color: white;
  padding: 1em 2em;
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  align-self: flex-end;
  transition: background-color 200ms ease-in-out;
}

#submit-form-btn:disabled {
  background-color: #183919;
}

#make-order:hover,
#submit-form-btn:hover {
  background-color: #39653a;
}

#submit-form-btn {
  margin-top: 3%;
}

#Sum-wrapper {
  margin-top: auto;
  margin-bottom: .5em;
}

.menu-positions-wrapper img {
 width: 500px;
 height: 500px;
}

.menu-positions-wrapper h5 {
  text-align: center;
  font-size: 2em;
  color: white;
}
.menu-positions-wrapper p {
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}

.ingredients-main-header {
  margin-bottom: 1vh;
  border-bottom: .2em solid #000;
  transition: color 2s ease-in-out;
}

.ingredients-main-header :hover {
  color: crimson;
}

.ingredients {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: flex-start;
  min-width: auto;
  min-height: 155px;
  margin-bottom: 1vh;
}

.close-parent-ingredient {
  position: absolute;
  cursor: pointer;
  top: 2px;
  right: 2px;
}

.close-parent-ingredient:hover {
  color: crimson;
}

.ingredients-price {
 bottom: 0;
 margin-top: 10%;
}

#construction-ingredients {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  width: 45%;
  flex-wrap: wrap;
  align-content: flex-start;
}

#construction-ingredients-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2vh;
}

#construction-ingredients figure {
  min-width: 3em;
  min-height: 3em;
  transition: transform 2s ease-in-out;
}

#construction-ingredients .each-ingredient-figure:hover{
transform: scale(1.2);
}


#cheese, #fruits-vegetables, #meat-fish {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  align-content: stretch;
}

.delete-order-position {
  font-size: 70%;
  float: right;
  color: crimson;
  cursor: pointer;
}

.delete-order-position:hover {
  color: rgb(236, 114, 138);
  transform: scale(1.5);
}

.ingredients h4 {
  width: auto;
  font-size: 1.5em;
}

.ingredients img {
  max-width: 100%;
  height: 75px;
}

#constructor-wrapper #constructor-header {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

#constructor-wrapper #construction-description-wrapper, #construction-ingredients {
  color: #222;
  background-color: #ffffff;
  margin-bottom: 0;
  /* padding: 1rem; */
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}  
#construction-ingredients {
  border-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#construction-ingredients div {
  text-align: center;
  width: 10vw;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

p, a{
  font-family: 'Roboto Condensed', sans-serif;
}

#pizza-footer-logo {
  height: 64px;
  width: auto;
  display: inline-block;
  /* filter: invert(97%) sepia(0%) saturate(13%) hue-rotate(244deg) brightness(104%) contrast(105%); */
}
#footer-content-wrapper{
  display: flex;
  color: #000;
  background-color: #fff;
  flex-direction: column;
  text-align: center;
  border: 1vh solid #0069ed;
  margin-bottom: 2vh;
}


#footer-header {
  margin-bottom: 1vh;
  margin-top: 2vh;
  text-align: center;
}
#footer-header-text, #footer-contacts-header{
  color: #000;
  font-size: x-large;
  text-align: left;
}
#footer-header-text{
  font-size: xx-large;
  display: inline-block;
}

#clickable-contacts a {
  text-decoration: none;
  font: 1rem sans-serif;
  padding: 2%;
  margin-bottom: 2vh;
  display: inline-block;
}

#clickable-contacts a:hover {
  color: #dc143c;
}
#cafe-place {
  margin-bottom: 1vh;
}

#social-media {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}
.social-media-icons {
min-width: 50px;
height: auto;
transition: filter 3s ease-in-out;
-webkit-transition : -webkit-filter 300ms ease-in-out;
}

.social-media-icons:hover{
  filter: invert(20%) sepia(94%) saturate(3460%) hue-rotate(337deg) brightness(85%) contrast(103%);
}

#copyright {
  color: #fff;
  margin-bottom: 2vh;
}

#buttons-constructor-wrapp {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.menu-item .menu-item-button, #add-construction-to-basket, #clear-constructor {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.menu-item .menu-item-button:hover,
.menu-item .menu-item-button:focus,
#add-construction-to-basket:hover,
#add-construction-to-basket:focus {
  background: #0053ba;
}

.menu-item .menu-item-button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

#add-construction-to-basket {
  width: 15%;
  align-self:flex-end;
  justify-self: left;
  margin-bottom: 1vh;
  margin-right: 1em;
}

#clear-constructor {
  background-color: crimson;
  justify-self:right;
  align-self: flex-end;
  width: 15%;
  margin-bottom: 1vh;
  margin-right: 1em;
}

#clear-constructor:hover {
  background-color: rgb(160, 23, 51);
}
button:active {
  transform: scale(0.99);
}


.each-ingredient-figure {
  transition: transform 2s ease-in-out;
  
  position: relative;
  text-align: center;
}

.closeIngredient {
  position: absolute;
  cursor: default;
  width: 100%;
  top: 40%;
  left: 0;
  font-weight: 900;
  font-size: 400%;
  color: rgb(64, 62, 58);
}

.appendedImgs {
  position: absolute;
  left: 0;
  top: 0;
  width: 420px;
  height: 420px;
}

#construction-ingredients .each-ingredient-figure:hover .closeIngredient {
  transform: scale(0);
}

#form-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.632);
  z-index: 999;
  display: none;
  justify-content: center;
  align-content: center;
  align-self: center;
}

#myForm {
  max-width: 25vw;
  border-radius: .5em;
  max-height: 35vh;
  /* background-color: #0274ff; */
  padding: 2%;
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
}

#error-message {
  color: crimson;
}

#myForm #close-my-form{
  position: absolute;
  color: #fff;
  top: 3%;
  right: 3%;
  cursor: pointer;
  font-size: 125%;
  transition: transform 2s ease-in;
}

#myForm #close-my-form:hover{
  color: crimson;
  transform: scale(1.3);
}
#myForm input {
  margin-bottom: 2%;
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width: fit-content;
  padding: 1em;
  font-size: 1em;
  color: #fff;
}

#myForm #fname{
  margin-top: 10%;
}
#myForm input::placeholder {
  color: #FFFFFF;
}

#myForm input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #fff;	
 }
#menu, .pizza-section { 
  border-bottom: 5px solid #0069ed;
  margin-bottom: 2vh;
}

#pizza-size {
  margin-bottom: 2vh;
  max-width: 70vh;
  text-align: center;
}

#size30, #size40 {
display:inline-block;
padding:0.5em 3em;
border:0.16em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
box-sizing: border-box;
text-decoration:none;
text-transform:uppercase;
font-family:'Roboto',sans-serif;
font-weight:400;
color:#FFFFFF;
text-align:center;
transition: all 0.15s;
background: none;
}

#size30:hover, #size40:hover {
 color:#DDDDDD;
 border-color:#DDDDDD;
}

#size30:active, #size40:active {
 color:#BBBBBB;
 border-color:#BBBBBB;
}
#construction-mainPizza{
  display: inline;
  margin-top: 2vh;
  text-align: center;
  width: 40%;
}

#construction-overall {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  flex-basis: 100%;
  flex-shrink: 0;
  min-height: 30vh;
  margin-bottom: 2vh;
}

#construction-overall div {
  min-width: 60%;
  padding: 2%;
}


#sizeHeader {
  padding: 1%;
  border: .1em solid #000;
  cursor: default;
}

#construction-overall #construction-sum {
  width: 15%;
  margin-top: auto;
  margin-bottom: 1vh;
  text-align: center;
  font-weight: bold;
  margin-left: 2em;
  padding: 1%;
  border: .1em solid #000;
  justify-self:left;
  transition: color 1s ease-in;
}

#construction-overall #construction-sum:hover {
  color: rgba(220, 20, 60, 0.551);
  cursor: pointer;
}

#orders-list-wrapp, #constructor-shoppingBag-list-wrapp {
  list-style-type: none;
  text-align: left;
  border: .1em solid #000;
  padding: 1%;
  height: 25vh;
  min-width: 95%;
  margin-bottom: 1vh;
  overflow: auto;
  margin-top: 1vh;
}

.constructor-list-basket {
  display: none;
  width: 100%;
  text-align: left;
}

.show{
  display: initial;
}

#constructor-shoppingBag-list-wrapp div{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3%;
  padding-bottom: 3%;
}

#constructor-shoppingBag-list-wrapp div:nth-child(odd){
  border-bottom: .1em solid crimson;
  cursor: pointer;
}
#constructor-shoppingBag-list-wrapp div:nth-child(even){
  border-bottom: .1em solid #0069ed;
  cursor: pointer;
}


#constructor-shoppingBag-wrapp{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#orders-list-wrapp li, #constructor-shoppingBag-list-wrapp li {
  font-size: 100%;
  border-bottom: .1em solid rgb(169, 164, 164);
}

#constructor-shoppingBag-list-wrapp li {
  font-size: 100%;
}
#constructor-shoppingBag-wrapp {
  min-width: 20%;
}

#construction-mainPizza h3 {
  color: #Ffffffff;
}
#construction-pizza-blank {
 position: relative; 
 max-width: 420px;
}
.construction-pizza-mainImg {
  position: relative;
  max-width: 420px;
}

.ingredient-counter {
  position: absolute;
  
}

@media screen and (max-width: 1400px) {
  .menu-positions-wrapper div {
    width: 40%;
  }

  .menu-positions-wrapper div img {
    width: 350px;
    height: 350px;
  }
  #main-content-container{
    width: 1000px;
  }
  .menu-positions-wrapper div {
    width: 50%;
    margin-bottom: 2vh;
  }
   #buy-bucket {
  width: 10vh;
  height: auto;
}
}


@media screen and (max-width: 992px) {
  .menu-positions-wrapper div {
    width: 80%;
  }

  #construction-ingredients {
    width: 80vw;
  }

  #construction-ingredients div {
    text-align: center;
  }
  #construction-mainPizza{
    display: block;
    width: 80vw;
  }

  #cheese, #fruits-vegetables, #meat-fish {
    width: 100%;
  }

  .ingredients h4 {
    font-size: 50%;
  }
  
  .ingredients img {
    height: auto;
  }
  .menu-positions-wrapper img {
    height: 250px;
    width: 250px;
  }

  .blank-text {
    width: 80%;
    font-size: 125%;
    position: initial;
  }

  #header-nav-wrapper{
    width: 100vw;
  }
  #main-content-container{
    width: 768px;
    margin-top: 4vh;
  }

  .ingredients-list li {
    width: 50%;
  }

  .menu-item img {
    max-width: 100%;
  }

  #cafe-place {
    width: 300px;
    height: 200px;
  }

 #buy-bucket {
  width: 8vh;
  height: auto;
}

#shopping-bag-closeBtn{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

#construction-ingredients-wrapper{
  display: block;
}

}
  
@media screen and (max-width: 768px) {

  h1, h2 {
    font-size: 50%;
  }

  .menu-positions-wrapper div {
    width: 45vw;
  }

  .ingredients-list li {
    width: 80%;
  }
  
  #construction-ingredients div{
    width: 40vw;
  }

  .ingredients figure {
    max-width: 70%;
    cursor: pointer;
    height: auto;
  }


  .menu-positions-wrapper img {
    height: 250px;
    width: 250px;
  }

  .blank-text {
    width: 80%;
    font-size: 125%;
  }

  #cafe-place {
    width: 200px;
    height: 100px;
  }

  #header-nav-wrapper{
    width: 100vw;
  }
  #main-content-container{
    width: 92%;
    margin-top: 4vh;
  }

  .menu-item img {
    max-width: 100%;
  }

  
 #buy-bucket {
  top: 5rem;
  width: 10vh;
  height: auto;
}
  }

  @media all and (max-width:30em){
    #size30, #size40 {
    display: block;
    margin: 0.4em auto;
  }
  
  #Sum-wrapper{
  align-self: flex-end;
  bottom: 0;
  margin-bottom: 5%;
}

#shopping-bag-headText {
  font-size: 1em;
  margin-bottom: 2%;
}

#clear-bag {
  margin-bottom: 2%;
}
}
  

#clear-bag {
  margin-top: 2%;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  background: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  width: auto;
  background-image: url(../imgs/index/shopping-basket/trash.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  height: 7vh;
}

#clear-bag:hover {
  filter: invert(25%) sepia(62%) saturate(7367%) hue-rotate(338deg) brightness(86%) contrast(100%);
}