html::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000000;
}

html::-webkit-scrollbar
{
	width: 18px;
	background-color: #000000;
}

html::-webkit-scrollbar-thumb
{
	background-color: #F5F5F5;
}